body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svg/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: color 1s ease-out;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-icon{
  height: .8em;
  width: auto;
  fill: currentColor;
  padding-right: .25em;
  transition: .5s;
}

.logo-name {
  color: #BA8058;
  margin-bottom: 0;
  display: block;
}

.logo{
  width: 140px;
  height: 120px;
  transition: .25s;
}

.logo-circle{
  fill: #BA8058;
}
.logo-text{
  fill: #EAAA7F;
  display: none;
  animation: round 3s ease-out 1s;
}

.logo-paw{
  fill: #F4C6A6;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

#corgi{
  display: inline-block;
}

.corgi-container{
  display: inline-block;
  margin: 0 auto;
}

.corgi-container p{
  color: #EAAA7F;
  text-align: center;
  margin-top: 0;
}

#corgi-sable{
  color: #b97f5b;
}

#corgi-fawn{
  color: #e9aa82;
}

#corgi-red{
  color: #834b29;
}

#corgi-stone{
  color: #52595e;
}

.corgi{
  margin-left: 1em;
}

.corgi-body{
  fill: currentColor;
}

.corgi-nose_and_eyes{
  fill: #2D3339;
}

.corgi-brows{
  fill: #DA8058;
}

.corgi-white{
  fill: #FBFEFF;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


/******************************* Pseudo-class  ********************************/
.logo:hover{
  width: 160px;
  height: 140px;
  transform: rotate(7deg) scale(1.2) translate3d(0, -10px, 0);
}

nav li:hover .nav-icon {
  transform: scale(1.2);
}

a:hover,
nav li:hover .nav-icon {
  color: #111;
}

/******************************* Media Queries  *******************************/
@media (min-width: 425px) {
  .logo-text {
    display: block;
  }

  .logo-name {
    display: none;
  }
}
